<!DOCTYPE html>
<html lang="en">
<head>
    <title>Notes Info</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/notes.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>

</head>

<body>
<h1>Notes Info</h1>
<section class="note">
    <div class="container">
        <div class="note-box">
            <h4 class="title">Title<span class="del-icon">x</span></h4>
            <div class="text">Text</div>
        </div>
    </div>
</section>

</body>
</html>