<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
              <title>Page Not Found</title>
              <meta name="viewport" content="width=device-width, initial-scale=1">
                  <link rel="stylesheet" href="/css/main.css">
                      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
<%- include('../templates/includes/nav.ejs') %>

<div class="jumbotron text-center">
    <h1>404 Error!</h1>
    <p>PAGE NOT FOUND</p>
</div>

<%- include('../templates/includes/end.ejs') %>
