<%- include('../templates/includes/head.ejs') %>
<link rel="stylesheet" href="/css/addNote.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<%- include('../templates/includes/nav.ejs') %>
<main>
    <form class="note-editor" action="/api/lists" method="POST">
        <a href="/notes"><i class="fa fa-shopping-cart"></i></a>
        <input name="title" class="title" type="text" id="title" placeholder="Enter title">
        <button class="button btn btn-warning" type="submit">Add As List</button>
        <ul>
            <li>Enter</li>
            <li>Enter</li>
        </ul>
    </form>
</main>
<%- include('../templates/includes/end.ejs') %>